In [1]:
import pandas as pd

# Step 1: Load the raw dataset
data = pd.read_csv(r"C:\Users\lasya\Projects\pepper\raw data.csv")

# Step 2: Group data by year and city, then calculate total production
df = (
    data
    .groupby(["tahun", "kode_kabupaten_kota", "nama_kabupaten_kota"])["produksi_tanaman"]
    .sum()
    .reset_index()
)

# Step 3: Export the processed data to a CSV file
df.to_csv("year_city_crop_production.csv", index=False)

# Optional: Display first few rows to verify
df.head()

   tahun  kode_kabupaten_kota nama_kabupaten_kota  produksi_tanaman
0   2016                 3201     KABUPATEN BOGOR                 2
1   2016                 3202  KABUPATEN SUKABUMI                31
2   2016                 3203   KABUPATEN CIANJUR                13
3   2016                 3204   KABUPATEN BANDUNG                 0
4   2016                 3205     KABUPATEN GARUT                30